.last-results{
    width: 45vw;
    .last-results-box{
        max-width: 700px;
        margin-top: 20px;
        margin-right: 10px;
    }
    .clubLogo{
        height: 100px;
        width: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .last-results{
        width: 100vw;
        display: block;
        .last-results-box{
            max-width: initial
        }
    }
  }

.right-last-results{
    float: right;
    display: flex;
    justify-content: flex-start;
}

.left-last-results{
    float: left;
    display: flex;
    justify-content: flex-end;
}


.mantine-Grid-root{
    max-width: 1560px;
    margin: 0 auto;
    .mantine-Col-root{
        background-color: #EEE3FF;
        border: black 4px solid;
        margin-left: -4px;
        margin-top: -4px;
        .clubLogo{
            display: block;
            margin: 0;
        }

        & img:last-of-type{
            float:right;
        }
        
        & img:first-of-type{
            float:left;
        }
        
        & a {
            font-size: 20px;
            color:#A61D6F;
        }

        & a, & p {
            display: flex;
            justify-content: center;
            text-decoration: none;
        }
    }
}

@media only screen and (max-width: 1500px) {
    .mantine-Grid-root .mantine-Col-root img {
            height: 75px;
            width: 75px;
    }
}

@media only screen and (max-width: 1200px) {
    .mantine-Grid-root .mantine-Col-root{
        & a{
              font-size: 16px;
        }

        & img{
            height: 50px;
            width: 50px;
        }
    }
}

.leagueName{
    text-align: center;
    color: #EEE3FF;
}
