body{
    background-color: #1d1e42;
    display: flex;
    justify-content: center;
    color: white;
}
#root{
    width: 70%;
}
table{
    text-align: center;
}
tbody{
    background-color: #26264f;
    color: white;
}
thead{
    background-color: #1d1adb;
    color: white;
}
.odds td{
    width: 25%;
}
.myScript td{
    width: 16%;
    padding: 2px;
}



.matchContainer{
    display: inline-block;
    background-color: #26264f;
    width: 48%;
    margin: 5px;
}

a{
    color: white;
    text-decoration: none;
}

.center{
    margin: auto;
}