body{
    background-color: #6926D6;
}

.tableCompare{
    h1{
        background-color:#8A4CE8;
        color: white;
    }
    table{
        background-color: #FFFFFF;
        margin: 0 auto;
    }
    thead{
        background-color: #A61D6F;
        color: white;
    }
    thead tr:first-of-type td:not([rowspan="2"]):hover{
        background-color: rgba(0,0,0,0.1)
    }
    td{
        width: 100px;
        text-align: center;
    }
    td:first-of-type{
        width: 200px;
    }
    .active, tbody td:first-of-type{
        background-color: #EEE3FF;
    }
    button{
        width: 100px;
        background-color: inherit;
        color: inherit;
        border: 0;
    }
    a{
        color: inherit;
        text-decoration: none;
    }
    a:hover{
        color: #A61D6F;
    }
    .center{
        text-align: center;
    }
}
.ap{
    td, table{
        border: white 2px solid;
        color: white;
        font-size: 16px;
        text-align: center;
    }
    .better{
        background-color: green;
    }
    .worse{
        background-color: red;
    }
    .same{
        background-color: grey;
    }
    .statBox td:first-of-type, thead{
        background-color: black
    }
}

Table.mantine-Table-root{
    background-color: white;
    text-align: center;
    & thead tr th{
        background-color: white;
        text-align: center;
    }
    caption{
        margin: 0;
        background-color: white;
    }
}